{#
/**
 * @file
 * Default theme implementation to present drupal versions.
 *
 * Available variables:
 * - last_stable_release: An array with last stable release info.
 * - last_minor_release: An array with last minor release info.
 *
 * @see template_preprocess_druki_drupal_versions()
 */
#}
{% set block = 'drupal-versions' %}
{%
  set classes = [
    bem(block),
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="{{ bem(block, 'version') }}">
    <div class="{{ bem(block, 'label') }}">{{ 'Actual minor release'|t }}</div>
    <div class="{{ bem(block, 'info') }}">
      <a href="/wiki/9/releases/{{ last_minor_release.version }}">{{ last_minor_release.version }}</a> {{ 'from'|t }} {{ last_minor_release.date|date('d.m.Y') }}
    </div>
  </div>

  <div class="{{ bem(block, 'version') }}">
    <div class="{{ bem(block, 'label') }}">{{ 'Actual patch release'|t }}</div>
    <div class="{{ bem(block, 'info') }}">
      <a href="/wiki/9/releases/{{ last_stable_release.version }}">{{ last_stable_release.version }}</a> {{ 'from'|t }} {{ last_stable_release.date|date('d.m.Y') }}
    </div>
  </div>

  <div class="{{ bem(block, 'version') }}">
    <div class="{{ bem(block, 'label') }}">{{ 'Next minor release'|t }}</div>
    <div class="{{ bem(block, 'info') }}">
      <a href="/wiki/9/releases/9.2.0">9.2.0</a>
    </div>
  </div>

  <a href="/wiki/9/releases" class="{{ bem(block, 'all') }} button button--secondary button--small">{{ 'Full list of releases'|t }}</a>
</div>
