.header-dark-mode-switcher {
  width: 2rem;
  height: 2rem;
  background: transparent url('../../../icons/ffffff/theme-light-dark.svg') no-repeat center;
  cursor: pointer;
  border-radius: var(--radius-xxs);
  border: none;
  align-self: center;
  display: flex;
}

.header-dark-mode-switcher:hover {
  background-color: var(--color-black--light-24);
}
