.mobile-dark-mode-switcher {
  width: var(--region-header-height);
  height: var(--region-header-height);
  background: transparent url('../../../icons/ffffff/theme-light-dark.svg') no-repeat center;
  border: none;
  align-self: center;
  display: flex;
}
