fieldset{min-width:0;padding:unset;margin:unset;border:unset}legend{display:block;width:100%;padding:unset;margin-bottom:var(--spacing-xs)}
/*# sourceMappingURL=../maps/02-elements/fieldset.css.map */
