:root{--line-height-heading:1.3}h1{font-size:var(--font-size-h1);font-weight:500}h2{font-size:var(--font-size-h2)}h2,h3{font-weight:600}h3{font-size:var(--font-size-h3)}h4{font-size:var(--font-size-h4);font-weight:600}h5{font-size:var(--font-size-h5)}h5,h6{font-weight:700}h6{font-size:var(--font-size-h6)}h1,h2,h3,h4,h5,h6{line-height:var(--line-height-heading);margin:unset;margin-bottom:var(--spacing-sm)}
/*# sourceMappingURL=../maps/02-elements/headings.css.map */
