:root{--selection-background:var(--color-light-gray);--selection-color:var(--text-color)}::-moz-selection{background:var(--selection-background);color:var(--selection-color)}::selection{background:var(--selection-background);color:var(--selection-color)}
/*# sourceMappingURL=../maps/02-elements/selection.css.map */
