:root {
  --button-background-color: var(--color-gainsboro);
  --button-background-color--active: var(--color-silver-metallic);
  --button-background-color--hover: var(--color-silver-metallic);
  --button-background-color--focus: var(--color-gainsboro);
  --button-background-color--disabled: var(--color-disabled);
  --button-border--color: transparent;
  --button-border--color-disabled: var(--button-border--color);
  --button-border--style: solid;
  --button-border--width: 0;
  --button-border-radius: var(--radius-xxs);
  --button-color: var(--text-color);
  --button-color--disabled: var(--color-manatee);
  --button-color--hover: var(--text-color);
  --button-font-size: var(--font-size-base);
  --button-font-weight: 500;
  --button-line-height: var(--form-control-line-height, 1.5);
  --button-padding--x: var(--spacing-lg);
  --button-padding--y: var(--spacing-sm);
  --button-box-shadow: var(--shadow-xs);
}

[data-theme="dark"] {
  --button-background-color: var(--color-black--light-16);
  --button-background-color--active: var(--color-black--light-24);
  --button-background-color--hover: var(--color-black--light-24);
  --button-background-color--focus: var(--color-black--light-14);
}

.button {
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: var(--button-color);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  box-shadow: var(--button-box-shadow);
  --button-border: var(--button-border--width) var(--button-border--style) var(--button-border--color);
  --button-padding: var(--button-padding--y) var(--button-padding--x);
}

.button:active {
  --button-background-color: var(--button-background-color--active);
}

.button:hover {
  --button-background-color: var(--button-background-color--hover);
  --button-color: var(--button-color--hover);
}

.button:focus {
  --button-background-color: var(--button-background-color--focus);
  --button-box-shadow: var(--focus-box-shadow);
}

.button:disabled {
  cursor: not-allowed;
  --button-background-color: var(--button-background-color--disabled);
  --button-border--color: var(--button-border--color-disabled);
  --button-color: var(--button-color--disabled);
  --button-box-shadow: none;
}

/**
 * Button size variations.
 */
.button--small {
  --button-font-size: var(--font-size-sm);
  --button-padding--x: var(--spacing-sm);
  --button-padding--y: var(--spacing-xs);
}

.button--extra-small {
  --button-font-size: var(--font-size-sm);
  --button-padding--x: var(--spacing-xs);
  --button-padding--y: var(--spacing-xxs);
}

/**
 * Button coloration variations.
 */
.button--primary {
  --button-background-color: var(--color-celtic-blue);
  --button-background-color--active: var(--color-denim);
  --button-background-color--hover: var(--color-denim);
  --button-background-color--focus: var(--color-blue-crayola);
  --button-color: var(--color-white);
  --button-color--disabled: var(--color-roman-silver);
  --button-color--hover: var(--color-white);
}

[data-theme="dark"] .button--primary {
  --button-background-color: var(--color-light-cornflower-blue);
  --button-color: var(--color-black);
}

.button--secondary {
  --button-background-color: transparent;
  --button-background-color--active: var(--color-fresh-sky-blue);
  --button-background-color--disabled: transparent;
  --button-background-color--focus: transparent;
  --button-background-color--hover: var(--color-fresh-sky-blue);
  --button-border--color: var(--color-celtic-blue);
  --button-border--color-disabled: var(--color-disabled);
  --button-border--width: 2px;
  --button-color: var(--color-celtic-blue);
  --button-color--disabled: var(--color-roman-silver);
  --button-color--hover: var(--color-celtic-blue);
  --button-padding: calc(var(--button-padding--y) - var(--button-border--width)) calc(var(--button-padding--x) - var(--button-border--width));
}

[data-theme="dark"] .button--secondary {
  --button-border--color: var(--color-light-cornflower-blue);
  --button-color: var(--color-light-cornflower-blue);
  --button-background-color--hover: var(--color-black--light-12);
  --button-background-color--active: var(--color-black--light-12);
}

.button--danger {
  --button-background-color: var(--color-maximum-red);
  --button-background-color--active: var(--color-maximum-red--dark-1);
  --button-background-color--focus: var(--color-maximum-red--light-1);
  --button-background-color--hover: var(--color-maximum-red--dark-1);
  --button-color: var(--color-white);
  --button-color--disabled: var(--color-roman-silver);
  --button-color--hover: var(--color-white);
}

.button--danger-secondary {
  --button-background-color: transparent;
  --button-background-color--active: var(--color-maximum-red--light-2);
  --button-background-color--disabled: transparent;
  --button-background-color--focus: transparent;
  --button-background-color--hover: var(--color-maximum-red--light-2);
  --button-border--color: var(--color-maximum-red);
  --button-border--color-disabled: var(--color-disabled);
  --button-border--width: 2px;
  --button-color: var(--color-maximum-red);
  --button-color--disabled: var(--color-roman-silver);
  --button-color--hover: var(--color-maximum-red);
  --button-padding: calc(var(--button-padding--y) - var(--button-border--width)) calc(var(--button-padding--x) - var(--button-border--width));
}
