.visually-hidden{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important;white-space:nowrap!important}.visually-hidden:active,.visually-hidden:focus{clip:auto!important;height:auto!important;margin:0!important;overflow:visible!important;position:static!important;width:auto!important;white-space:inherit!important}
/*# sourceMappingURL=../maps/05-utilities/visually-hidden.css.map */
