.breadcrumb{font-size:var(--font-size-sm);display:flex}.breadcrumb__path{display:block;overflow:hidden;flex-grow:0;flex-shrink:1;white-space:nowrap;text-overflow:ellipsis}@media (min-width:576px){.breadcrumb__path{display:inline;overflow:visible}}.breadcrumb__item-link--text{color:var(--text-color)}.breadcrumb__current{display:block;flex-grow:1;flex-shrink:0}@media (min-width:576px){.breadcrumb__current{display:inline}}.breadcrumb__current:before{margin:0 var(--spacing-xs);content:"/";color:var(--color-border)}.breadcrumb--single-item .breadcrumb__current:before{display:none}.breadcrumb__delimiter:after{margin:0 var(--spacing-xs);content:"/";color:var(--color-border)}.breadcrumb__delimiter:last-child{display:none}
/*# sourceMappingURL=../../maps/04-components/ui/breadcrumb.css.map */
