.links--inline{display:flex;margin:unset;padding:unset;list-style:none}.links--inline .links__item:not(:last-child){margin-right:var(--spacing-xs)}
/*# sourceMappingURL=../../maps/04-components/ui/links.css.map */
