.table{width:100%;max-width:100%;margin-bottom:var(--spacing-sm);border-collapse:collapse}.table td,.table th{padding:var(--spacing-xs);text-align:inherit;border-top:1px solid var(--color-border)}.table thead th{vertical-align:bottom;border-bottom:2px solid var(--color-border)}.table-responsive{width:100%;overflow-x:auto}
/*# sourceMappingURL=../../maps/04-components/ui/table.css.map */
