:root{--druki-code-border-color:var(--color-border);--druki-code-background-color:var(--color-cultured)}[data-theme=dark]{--druki-code-border-color:var(--color-black--light-24);--druki-code-background-color:var(--color-black--light-4)}.paragraph-druki-code{border:.0625rem solid var(--druki-code-border-color);margin:var(--p-margin--y) 0;background-color:var(--druki-code-background-color)}.paragraph-druki-code pre{margin:unset}.paragraph-druki-code pre code{padding:var(--spacing-md);overflow-x:auto;display:block}
/*# sourceMappingURL=../../maps/04-components/paragraph/druki-code.css.map */
