.druki-heading{scroll-margin-top:var(--spacing-xl);--link-color:var(--color-old-silver)}.druki-heading__anchor{line-height:1;visibility:visible;float:left;width:20px;margin-left:-20px;padding-right:var(--spacing-xs);vertical-align:middle}@media (min-width:768px){.druki-heading__anchor{visibility:hidden}}.druki-heading:hover .druki-heading__anchor{visibility:visible}
/*# sourceMappingURL=../../maps/04-components/paragraph/druki-heading.css.map */
