:root {
  --main-navigation-link-decoration-color: var(--color-jade);
}

[data-theme="dark"] {
  --main-navigation-link-decoration-color: var(--color-jade);
}

.main-navigation {
  display: flex;
  --link-color: var(--color-white);
  --link-color--hover: var(--color-white);
  font-size: var(--font-size-sm);
}

.main-navigation__link {
  font-weight: 500;
  line-height: var(--region-header-height);
  position: relative;
  display: block;
  height: var(--region-header-height);
  padding: 0 var(--spacing-sm);
}

.main-navigation__link::before {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 0.25rem;
  content: '';
  background-color: transparent;
}

.main-navigation__link:hover {
  background-color: var(--color-black--light-24);
}

.main-navigation__link:hover::before,
.main-navigation__link.is-active::before {
  background-color: var(--main-navigation-link-decoration-color);
}
