{# Main lauout classes. #}
{% set main_layout_attributes = create_attribute() %}
{% set main_layout_block = 'main-layout' %}
{%
  set main_layout_modifiers = [
    page.sidebar_right ? 'sidebar-right',
    not page.sidebar_right ? 'no-sidebars',
    page.sidebar_right ? 'one-sidebar',
  ]
%}
{%
  set main_layout_classes = [
   'layout-container',
    bem(main_layout_block, null, main_layout_modifiers),
  ]
%}
{% set footer %}
  {% include '@loremaster/includes/footer.twig' %}
{% endset %}

<main class="page-container">
  <header class="header">
    {{ page.header }}
    {{ page.mobile_toolbar }}
  </header>
  {{ page.content_header }}

  <div{{ main_layout_attributes.addClass(main_layout_classes) }}>
    {% if is_front %}
      {% include '@loremaster/includes/frontpage.twig' %}
    {% else %}
      {{ page.content }}
      {{ page.sidebar_right }}
    {% endif %}
  </div>

  {{ footer }}
  {{ page.mobile_sidebar }}
</main>
