/*Focus.*/
/*It's a good practice to leave focus on element. If you disable it make sure*/
/*you have other visual implementation for focused elements!*/
/*@see http://www.outlinenone.com/*/

:root {
  --focus-box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-jade);
}

[data-theme="dark"] {
  --focus-box-shadow: 0 0 0 2px var(--color-black--light-7), 0 0 0 5px var(--color-jade);
}

:focus {
  outline: none;
  box-shadow: var(--focus-box-shadow);
}

