{% set attributes = create_attribute() %}
{% set block = 'frontpage-download' %}
{%
  set classes = [
    bem(block),
  ]
%}
{{ attach_library('loremaster/asciinema-player') }}
{{ attach_library('loremaster/component.theme.frontpage-download') }}
<div{{ attributes.addClass(classes) }}>
  <div class="{{ bem(block, 'content') }}">
    <h2 class="{{ bem(block, 'title') }}">{{ 'Choose Drupal'|t }}</h2>

    <p>
      {% trans %}
        If you are just getting started with web development, Drupal will provide you with invaluable experience in various areas and technologies. You will always have something to learn and develop your professional skills.
      {% endtrans %}
    </p>

    <p>
      {% trans %}
        For an experienced developer - Drupal will open new horizons, tools, approaches and implementations. Drupal means strict code standards, tens of thousands of tests, incredible flexibility and scalability for any needs.
      {% endtrans %}
    </p>

    <p>
      {% trans %}
        We all have different needs - Drupal allows us to create a unique space in the world of template solutions.
      {% endtrans %}
    </p>

    <div class="{{ bem(block, 'actions') }}">
      <a href="/download" class="button button--primary">{{ 'Download Drupal'|t }}</a>
    </div>
  </div>

  <div class="{{ bem(block, 'player-wrapper') }}">
    <asciinema-player
      src="{{ 'public://ascii.cast'|file_url }}"
      cols="132"
      rows="26"
      autoplay="true"
      loop="true"
      font-size="small"
      title="{{ 'Download Drupal'|t }}"
      class="{{ bem(block, 'player') }}"
    ></asciinema-player>
  </div>
</div>
