:root {
  --next-prev-border: 0.125rem solid var(--color-light-gray);
  --next-prev-border--hover: 0.125rem solid var(--color-celtic-blue);
  --next-prev-link-color: var(--text-color);
  --next-prev-link-color--hover: var(--color-celtic-blue);
  --next-prev-icon-size: 1rem;
  --next-prev-icon: url('../../../icons/8e929c/arrow-left.svg');
  --next-prev-icon--hover: url('../../../icons/003cc5/arrow-left.svg');
}

[data-theme="dark"] {
  --next-prev-border--hover: 0.125rem solid var(--color-light-cornflower-blue--dark-1);
  --next-prev-icon--hover: url('../../../icons/6bbcef/arrow-left.svg');
}

.druki-content-next-prev {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: 1fr;

  @media (--md) {
    grid-template-columns: 1fr 1fr;
  }
}

.druki-content-next-prev__link {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: var(--spacing-lg) var(--spacing-lg);
  border: var(--next-prev-border);
  border-radius: var(--radius-xs);
}

.druki-content-next-prev__link:hover {
  --next-prev-icon: var(--next-prev-icon--hover);
  border: var(--next-prev-border--hover);
}

.druki-content-next-prev__link--prev::before {
  display: block;
  width: var(--next-prev-icon-size);
  height: var(--next-prev-icon-size);
  margin-right: var(--spacing-sm);
  content: '';
  background-image: var(--next-prev-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--next-prev-icon-size);
}

.druki-content-next-prev__link--next {
  justify-content: right;
}

.druki-content-next-prev__link--next::after {
  display: block;
  width: var(--next-prev-icon-size);
  height: var(--next-prev-icon-size);
  margin-left: var(--spacing-sm);
  content: '';
  transform: rotate(180deg);
  background-image: var(--next-prev-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--next-prev-icon-size);
}

.druki-content-full .druki-content-next-prev {
  margin-top: var(--spacing-xl);
}
