:root {
  --druki-page-download-command-background-color: var(--color-cultured);
  --druki-page-download-command-border-color: var(--color-border);
}

[data-theme="dark"] {
  --druki-page-download-command-background-color: var(--color-black--light-16);
  --druki-page-download-command-border-color: var(--color-black--light-24);
}

.druki-page-download__head {
  margin-bottom: var(--spacing-xl);
}

.druki-page-download__cards {
  display: grid;
  grid-gap: var(--spacing-lg);
  grid-template-columns: 1fr;

  @media (--sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.druki-page-download__command-pane {
  padding: var(--spacing-md);
  border: 1px solid var(--druki-page-download-command-border-color);
  margin: var(--spacing-lg) auto;
  display: table;
  background-color: var(--druki-page-download-command-background-color);
}

.druki-page-download__subtitle {
  text-align: center;
}

.druki-page-download__command-note {
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-old-silver);
}

.druki-page-download-card__title {
  font-weight: bold;
  font-size: var(--font-size-h3);
  margin-bottom: var(--spacing-xs);
  line-height: 1.2;
}

.druki-page-download-card__subhead {
  color: var(--color-roman-silver);
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-size-sm);
}

.druki-page-download-card__description {
  font-size: var(--font-size-sm);
}

.druki-page-download-card__actions {
  margin-top: var(--spacing-md);
}
