:root {
  --help-and-feedback-background-color: var(--color-cultured);
}

[data-theme="dark"] {
  --help-and-feedback-background-color: var(--color-black--light-12);
}

.help-and-feedback {
  padding: var(--spacing-lg);
  background-color: var(--help-and-feedback-background-color);
  border-radius: var(--radius-xs);
  border: 1px solid var(--color-border);
}

.help-and-feedback__title {
  font-size: var(--font-size-h4);
  margin-bottom: var(--spacing-lg);
}

.help-and-feedback__title::before {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: var(--spacing-sm);
  content: '';
  vertical-align: middle;
  background: transparent url('../../../icons/26a769/comment-question-outline.svg') no-repeat center;
}

.help-and-feedback__item {
  display: grid;
  align-items: center;
  margin-bottom: var(--spacing-md);
  padding-bottom: var(--spacing-md);
  border-bottom: 1px solid var(--color-border);
  grid-gap: var(--spacing-md);

  @media (--md) {
    grid-template-columns: 1fr 240px;
  }

  @media (--lg) {
    grid-template-columns: 1fr;
  }

  @media (--xl) {
    grid-template-columns: 1fr 240px;
  }
}

.help-and-feedback__item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.help-and-feedback__link {
  display: block;
  text-align: center;
}

.help-and-feedback__link:not(:last-child) {
  margin-bottom: var(--spacing-sm);
}
