:root {
  --frontpage-search-submit-icon: url('../../../icons/000000/magnify.svg');
}

[data-theme="dark"] {
  --frontpage-search-submit-icon: url('../../../icons/ffffff/magnify.svg');
}

.frontpage-hero {
  margin: var(--spacing-xl) 0;
}

.frontpage-hero__container {
  display: grid;
  grid-gap: var(--spacing-xl);
  grid-template-columns: 1fr;

  @media (--md) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--xl) {
    grid-template-columns: 2fr 2fr 1fr;
  }
}

.frontpage-hero__welcome {
  @media (--md) {
    grid-column: 1/3;
  }

  @media (--xl) {
    grid-column: auto;
  }
}

.frontpage-hero__title {
  font-weight: bold;
}

.frontpage-hero__actions {
  margin-top: var(--spacing-md);
  display: grid;
  grid-gap: var(--grid-gap);

  @media (--sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.frontpage-hero__button {
  width: 100%;
}

.frontpage-search {
  position: relative;
}

.frontpage-search__input {
  width: 100%;
  padding-right: calc(3rem + var(--spacing-sm));
}

.frontpage-search__submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  padding: 0;
  border: unset;
  border-radius: var(--radius-xs);
  background-color: transparent;
  background-image: var(--frontpage-search-submit-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
}
