.official-user-guide__image {
  margin-bottom: var(--spacing-lg);
}

.official-user-guide__link {
  display: inline-block;
}

.official-user-guide__links li:not(:last-child) {
  margin-bottom: var(--spacing-md);
}

.official-user-guide__link:hover {
  text-decoration: none;
}

.official-user-guide__link-title {
  display: block;
  font-weight: bold;
}

.official-user-guide__link-description {
  color: var(--color-roman-silver);
  font-size: var(--font-size-sm);
}
