.footer{font-size:var(--font-size-sm);color:var(--color-old-silver);margin-top:var(--spacing-xl);padding-bottom:var(--spacing-xl)}.footer__container{display:grid;grid-gap:var(--spacing-xl);grid-template-columns:1fr}.footer__some-love{margin-bottom:var(--spacing-md)}.footer .block__title{font-weight:700;text-transform:uppercase;color:var(--text-color);margin-bottom:var(--spacing-xs)}@media (min-width:576px){.footer__container{grid-template-columns:1fr 1fr}.footer__legal{grid-column-start:1;grid-column-end:3}}@media (min-width:992px){.footer__container{grid-template-columns:auto auto 1fr}.footer__legal{grid-column:auto}}
/*# sourceMappingURL=../../maps/04-components/layout/footer.css.map */
