:root{--region-header-height:50px;--region-header-background-color:var(--color-jet)}[data-theme=dark]{--region-header-background-color:var(--color-black--light-16)}.region-header{background-color:var(--region-header-background-color);display:none}@media (min-width:992px){.region-header{display:block}}.region-header :focus{--focus-box-shadow:0 0 0 2px var(--region-header-background-color),0 0 0 5px var(--color-teal)}.region-header__container{display:grid;align-items:center;grid-gap:var(--grid-gap);grid-template-columns:26px 1fr 15rem repeat(2,2rem);height:var(--region-header-height)}
/*# sourceMappingURL=../../maps/04-components/layout/region-header.css.map */
