:root {
  --page-container-background-color: var(--color-white);
}

[data-theme="dark"] {
  --page-container-background-color: var(--color-black--light-7);
}

.page-container {
  background-color: var(--page-container-background-color);
  max-width: 1600px;
  margin: 0 auto;
}
