.region-content-header {
  --focus-box-shadow: 0 0 0 2px var(--region-content-header-background-color), 0 0 0 5px var(--color-teal);
}

.region-content-header__container {
  margin-top: var(--spacing-xl);
}

.region-content-header .block--loremaster-breadcrumbs {
  margin-bottom: var(--spacing-md);
}
