:root {
  --mobile-sidebar-pane-background-color: var(--color-white);
  --mobile-sidebar-close-icon: url('../../../icons/ffffff/close.svg');
}

[data-theme="dark"] {
  --mobile-sidebar-pane-background-color: var(--color-black--light-7);
}

.region-mobile-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black--opacity-50);
}

.region-mobile-sidebar__overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
}

.region-mobile-sidebar__pane {
  background-color: var(--mobile-sidebar-pane-background-color);
  height: 100%;
  overflow-y: auto;
  position: relative;
  width: 80%;
  transition: transform 0.25s ease-in-out;
  transform: translateX(0%);
  margin-left: -80%;
}

.js-mobile-sidebar-active .region-mobile-sidebar__pane {
  transform: translateX(100%);
}

.region-mobile-sidebar__close-button {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 80%;
  background-image: var(--mobile-sidebar-close-icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-color: transparent;
  border: none;
  z-index: 10;
}
