.region-mobile-toolbar {
  background-color: var(--region-header-background-color);
  height: var(--region-header-height);
  display: flex;
  align-items: center;
}

.region-mobile-toolbar .block--mobile-repository-button {
  margin-left: auto;
}

.region-mobile-toolbar .block--mobile-sidebar-button {
  margin-right: var(--spacing-sm);
}

@media (--lg) {
  .region-mobile-toolbar {
    display: none;
  }
}
