.druki-content-full h2{padding-bottom:var(--spacing-sm);border-bottom:1px solid var(--color-border-secondary)}.druki-content-full h2,.druki-content-full h3,.druki-content-full h4,.druki-content-full h5,.druki-content-full h6{margin-top:var(--spacing-xl);margin-bottom:var(--spacing-lg)}.druki-content-full ol li,.druki-content-full ol ol,.druki-content-full ol ul,.druki-content-full ul li,.druki-content-full ul ol,.druki-content-full ul ul{margin-top:var(--spacing-xxs);margin-bottom:var(--spacing-xxs)}
/*# sourceMappingURL=../../maps/04-components/druki-content/druki-content-full.css.map */
