.header-repository-button{width:2rem;height:2rem;background:transparent url(../../../icons/ffffff/github.svg) no-repeat 50%;cursor:pointer;border-radius:var(--radius-xxs);border:none;align-self:center;display:flex}.header-repository-button:hover{background-color:var(--color-black--light-24)}
/*# sourceMappingURL=../../maps/04-components/block/header-repository-button.css.map */
