.header-dark-mode-switcher{width:2rem;height:2rem;background:transparent url(../../../icons/ffffff/theme-light-dark.svg) no-repeat 50%;cursor:pointer;border-radius:var(--radius-xxs);border:none;align-self:center;display:flex}.header-dark-mode-switcher:hover{background-color:var(--color-black--light-24)}
/*# sourceMappingURL=../../maps/04-components/block/header-dark-mode-switcher.css.map */
