.mobile-sidebar-button{display:flex;align-self:center;width:var(--region-header-height);height:var(--region-header-height);border:none;background:transparent url(../../../icons/ffffff/menu.svg) no-repeat 50%}
/*# sourceMappingURL=../../maps/04-components/block/mobile-sidebar-button.css.map */
