.mobile-dark-mode-switcher{width:var(--region-header-height);height:var(--region-header-height);background:transparent url(../../../icons/ffffff/theme-light-dark.svg) no-repeat 50%;border:none;align-self:center;display:flex}
/*# sourceMappingURL=../../maps/04-components/block/mobile-dark-mode-switcher.css.map */
