.mobile-branding{display:flex;align-items:center}.mobile-branding__logo{margin-right:var(--spacing-sm)}.mobile-branding__name{--link-color:var(--color-white);font-weight:700;font-size:var(--font-size-sm);line-height:1.2}
/*# sourceMappingURL=../../maps/04-components/block/mobile-branding.css.map */
