:root {
  --druki-note-icon: unset;
  --druki-note-icon-size: 3rem;
  --druki-note-color: transparent;
  --druki-note-background-color: var(--color-cultured);
}

[data-theme="dark"] {
  --druki-note-background-color: var(--color-black--light-4);
}

.druki-note {
  font-size: var(--font-size-sm);
  position: relative;
  padding: var(--spacing-md);
  padding-left: calc(var(--druki-note-icon-size) + var(--spacing-md) + var(--spacing-md));
  border: 1px solid var(--color-border);
  border-radius: var(--radius-xs);
  background-color: var(--druki-note-background-color);
  --p-margin--y: var(--spacing-sm);
}

.druki-note--tip {
  --druki-note-icon: url('../../../icons/000000/lightbulb-on-outline.svg');
  --druki-note-color: var(--color-capri);
}

.druki-note--note {
  --druki-note-icon: url('../../../icons/000000/pencil-outline.svg');
  --druki-note-color: var(--color-orange-yellow-crayola);
}

.druki-note--warning {
  --druki-note-icon: url('../../../icons/ffffff/alert-rhombus-outline.svg');
  --druki-note-color: var(--color-international-orange-engineering);
}

.druki-note--important {
  --druki-note-icon: url('../../../icons/000000/alert-decagram-outline.svg');
  --druki-note-color: var(--color-maximum-red);
}

.druki-note__label {
  font-size: var(--font-size-sm);
  font-weight: bold;
  line-height: 1;
  user-select: none;
  text-transform: uppercase;
}

.druki-note__label::before {
  position: absolute;
  top: var(--spacing-md);
  left: var(--spacing-md);
  display: block;
  width: var(--druki-note-icon-size);
  height: var(--druki-note-icon-size);
  content: '';
  border-radius: 50%;
  background-color: var(--druki-note-color);
  background-image: var(--druki-note-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
}

.druki-note__content p:last-child {
  margin-bottom: 0;
}

.druki-content-full .druki-note {
  margin: var(--spacing-lg) 0;
}
